body {
    background-color: #444444;
}

.flex-container {

    writing-mode: horizontal-tb;
    margin-inline: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pochette {
    width: 300px;
    border-radius: 50%;

}

.flex-item {
    padding: 4vh;
}

.flex-left {
    flex:1;
}
.flex-center {
    flex:2;
}
.flex-right {
    flex:3;
}


#btnControl1 {
    display: none;
}

#btnControl1:checked + label > img {
    animation: rotation 2s infinite linear;
}

#btnControl2 {
    display: none;
}

#btnControl2:checked + label > img {
    animation: rotation 2s infinite linear;
}

#btnControl3 {
    display: none;
}

#btnControl3:checked + label > img {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}


